@font-face {
    font-family: "霞鹜文楷";
    src: url(../fonts/LXGWWenKaiLite-Regular.ttf);
    font-style: normal;
}
@font-face {
    font-family: "霞鹜文楷Mono";
    src: url(../fonts/LXGWWenKaiMonoLite-Regular.ttf);
    font-style: normal;
}
:root {
    --md-text-font: "霞鹜文楷";
    --md-code-font: "霞鹜文楷Mono"
}
.md-footer__inner.md-grid {
    display: none
}